:root {
    --pc: #000000;
    --sc: #FFFFFF;
    --ac: #CCCCCC;
    --pf: Baskerville-Old-Face;
    --sf: Roboto-Regular;
}

@font-face {
    font-family: Baskerville-Old-Face;
    src: url("../fonts/baskerville-old-face.ttf");
}

@font-face {
    font-family: Roboto-Regular;
    src: url("../fonts/Roboto-Regular.ttf");
}

body {
    font-family: var(--sf), sans-serif;
    font-size: 14px !important;
}

.header {
    background-color: var(--pc);
}

.name {
    font-family: var(--pf), sans-serif;
}

.logo-letras {
    height: 5rem;
}

.logo {
    height: 2.5rem;
    cursor: pointer;
}

.popover {
    font-size: .8rem;
}

.popover-body {
    padding: .2rem !important;
}

.navbar {
    border-top: 1px solid var(--ac);
}

#navMenu {
    transition: all .3s ease-in-out;
}

#navMenu .nav-link, .nav-link {
    color: var(--ac);
}

#navMenu .nav-link:focus, .nav-link:hover {
    color: #e3de39 !important;
}

#navMenu ul {
    flex-flow: wrap;
}

#navMenu .nav-item {
    width: 100%;
    margin: 1%;
    height: 3rem;
    padding: .5rem;
    background-color: rgba(255, 255, 255, .1);
    border-left: 1px solid var(--ac);
}

.off-line {
    border-left: 0 !important;
}

#boxSearch {
    display: none;
    width: 100%;
    margin-top: .5rem;
}

/*Wrapper*/
.sec_marquee {
    margin: 1.5rem 0 0 0;
}

.marq_text {
    background-color: var(--pc);
    padding: .15rem 0;
    position: relative;
    width: 8rem;
}

.marq_text:before {
    content: "";
    width: 0;
    position: absolute;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent var(--pc);
    top: .3rem;
    z-index: 99;
    right: -7px;
}

.sec_marquee marquee {
    padding: .15rem 0;
    margin: 0 .6rem;
}

.sec_marquee marquee a {
    color: var(--pc);
    font-weight: 500;
    text-decoration: none;
}

.sec_marquee marquee a:before {
    content: "||";
    margin: 0 2em;
}

.owl-dots {
    text-align: center;
}

.owl-dots .owl-dot.active {
    background-color: var(--pc) !important;
    width: 50px !important;
    height: 10px !important;
    border-radius: 8px !important;
}

.owl-dots .owl-dot {
    background: var(--ac) !important;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0 .3rem;
    transition: all .3s ease-in-out;
}

.fade-out {
    animation: fadeOut ease 8s;
    -webkit-animation: fadeOut ease 8s;
    -moz-animation: fadeOut ease 8s;
    -o-animation: fadeOut ease 8s;
    -ms-animation: fadeOut ease 8s;
}

.wrapper {
    margin-top: 12rem;
}

/*News main*/
.title-sections {
    padding: .5rem 0;
    letter-spacing: .15rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-size: 14px;
    color: var(--sc);
}

.news img {
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.news img:hover {
    filter: grayscale(100%);
    box-shadow: 1px 1px 7px 0;
}

.name-category {
    background: var(--pc);
    color: var(--sc);
    box-shadow: 0.2rem 0.3rem 0.5rem rgb(0 0 0 / 50%);
    padding: .25rem 1.05rem;
    position: absolute;
    top: 4%;
    text-decoration: none;
    z-index: 1;
}

.name-category:hover {
    text-decoration: underline;
    color: var(--sc);
}

.title-sections > span {
    padding: 2px 1.5rem;
    background: var(--pc);
    position: relative;
}

.title-sections > span:after {
    content: '';
    background: var(--pc);
    width: 2rem;
    height: 100%;
    -ms-transform: skewx(13deg);
    -webkit-transform: skewx(13deg);
    transform: skewx(13deg);
    position: absolute;
    right: -7px;
    top: 0;
}

.date {
    padding-top: .5rem;
    width: 95%;
}

.social-media-share {
    font-size: 1.5rem;
    text-align: right;
}

.social-media-share i {
    padding-left: .5rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.social-media-share i:hover {
    opacity: 1;
    transform: scale(1.3);
}

.date, .social-media-share {
    color: #aaa;
}

h5 {
    font-size: 14px;
}

.title-nota {
    height: 49px;
    margin: .5rem 0 0 0 !important;
    overflow: hidden;
    line-height: 1.7rem;
    font-weight: bold;
}

.title-nota a {
    color: var(--pc);
    text-decoration: none;
}

.title-nota a:hover {
    text-decoration: underline;
}

.info {
    bottom: 6%;
    padding: 0 2rem;
    position: absolute;
    z-index: 1;
}

.info a {
    line-height: 2.15rem;
    color: #EEEEEE !important;
    text-decoration: none;
    background: transparent;
}

.info a:hover {
    text-decoration: underline;
}

iframe {
    width: 100%;
    position: static;
    visibility: visible;
    display: inline-block;
    height: 500px;
    padding: 0px;
    border: none;
    max-width: 100%;
    min-width: 180px;
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 200px;
}

/*Interviews*/
.interviews {
    background-color: var(--pc);
    padding-bottom: 2rem;
}

.interviews .title-sections {
    color: var(--pc);
    margin-top: 2rem;
}

.interviews .title-sections > span,
.interviews .title-sections > span:after {
    background: var(--sc);
}

#carouselPeople .owl-dots .owl-dot.active {
    background-color: var(--sc) !important;
}

#carouselPeople img {
    border-radius: 50%;
    margin: 0 auto;
    width: 30%;
}

.info-people h4 a {
    height: 49px;
    margin: .5rem 0 0 0 !important;
    overflow: hidden;
    line-height: 1.7rem;
}

.info-people h5 {
    font-size: 1rem;
    color: var(--sc);
    margin-bottom: .25rem;
}

.info-people h6 {
    font-size: .9rem;
    margin-top: 0;
    color: var(--ac);
}

.title-view {
    font-size: 18px;
    margin: .5rem 0;
}

.title-view a {
    color: var(--sc);
    text-decoration: none;
}

.title-view a:hover {
    text-decoration: underline;
}

.item-people {
    padding: 2rem 0;
    background-color: rgb(254 254 254 / 4%);
    margin: 0 1rem 1rem 1rem;
}

/*Video & Photo*/
.container-video {
    overflow: hidden;
}

.container-video:hover {
    box-shadow: 1px 1px 7px 0;
}

.container-video img {
    transition: all .3s ease;
}

.container-video a {
    background-color: var(--pc);
    width: 6rem;
    height: 6rem;
    display: flex;
    border-radius: 50%;
    color: var(--sc);
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-clip: padding-box;
    border: 0 solid transparent;
    transition: all .3s ease;
}

.container-video a:hover {
    border: 10px solid rgba(204, 204, 204, .50);
}

.vbox-overlay {
    background: rgba(0, 0, 0, .8) !important;
    opacity: 1;
}

.venoframe {
    padding: 5px;
    background: var(--sc);
}

.vbox-close {
    color: var(--pc) !important;
    background-color: var(--sc) !important;
}

.full-title-sections {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.videos main {
    margin-top: -2px;
}

/*Post*/
.post {
    color: var(--pc);
}

.last-news-body .title-nota {
    margin: 0 !important;
}

.title-post {
    font-size: 30px;
    font-weight: bold;
}

.extract-post {
    font-size: 18px;
    font-style: italic;
    color: #999999;
}

.info-post {
    font-size: 14px;
    color: #999999;
    margin-bottom: 2.5rem;
}

.info-post span {
    margin: 0 .5rem;
}

.fac-twi i:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.post-container p {
    font-size: 16px !important;
}

/*Media Query´s*/
@media (min-width: 576px) {
    #navMenu .nav-item {
        width: 48%;
    }
}

@media (min-width: 768px) {
    #navMenu .nav-item {
        width: 31%;
    }

    .wrapper {
        margin-top: 10rem;
    }
}

footer {
    background-color: var(--pc);
    color: var(--sc);
}

footer a {
    color: var(--sc);
    text-decoration: none;
}

footer a:hover {
    color: var(--sc);
    text-decoration: underline;
}

@media (min-width: 992px) {
    #navMenu .nav-item {
        width: auto;
        margin: 0;
        height: auto;
        padding: 0;
        background-color: transparent;
        border: none;
    }

    #navMenu .nav-item a {
        display: inline-block;
        padding: 0 .5rem;
        border-left: 1px solid var(--ac);
    }

    .navbar .container-fluid {
        flex-direction: row-reverse;
    }

    #boxSearch {
        width: 25%;
        margin-top: 0;
    }
}

/*Animations*/
@keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

@-ms-keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}